{% include "header.html" %}
<link rel="stylesheet" href="/static/styles/games.css">
  <section class="header">
        <div style="margin-Left: 60px ">
          <h2>Play Games!</h2>
        </div>
        

      <div class="allgames">
        <div class="container">
            <img src="/static/images/game1.png" alt="game1" class="imgcontainer">
            <h2>THE-MATH-GAME</h2>
            <p>It is a simple multiplication game to test how well we are at arithmetic.</p>
            <button type="button" class="playbutton" onclick="goToPage('https://amey-thakur.github.io/THE-MATH-GAME')" >Play now<span class="material-symbols-outlined"> navigate_next</span></button>
        </div>
    
        <div class="container">
            <img src="/static/images/game2.png" alt="game1" class="imgcontainer">
            <h2>LD-Learn</h2>
            <p>simple Math game with some surprises.</p>
            <button type="button" class="playbutton" onclick="goToPage('https://goeroeg.github.io/ld-learn/apps/learn/ld-learn.html')" >Play now<span class="material-symbols-outlined"> navigate_next</span></button>
        </div>
    
        <div class="container">
            <img src="/static/images/game3.png" alt="game1" class="imgcontainer">
            <h2>Bearcabulary</h2>
            <p>This is the content of container 1.</p>
            <button type="button" class="playbutton"onclick="goToPage('https://www.bearcabulary.com/')" >Play now<span class="material-symbols-outlined"> navigate_next</span></button>
        </div>
    
        <div class="container">
            <img src="/static/images/game4.png" alt="game1" class="imgcontainer">
            <h2>Fourth Game</h2>
            <p>This is the content of container 1.</p>
            <button type="button" class="playbutton" onclick="goToPage('https://brianach.github.io/Odd-One-Out/')" >Play now<span class="material-symbols-outlined"> navigate_next</span></button>
        </div>
      </div>
    </section>
      <script src="/static/javascript/script.js"></script>
</body>
</html>
