{%include "header.html" %}
    <link rel="stylesheet" href="/static/styles/mathstyle1.css" />
    <title>Rational Numbers</title>
  </head>
  <body onload="linkVal()">
    <div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <div class="page">
      <h1>Linear Equations in One Variable</h1>
      <div class="container">
        <div class="subtopic">
          <h3>Introduction</h3>
          <div class="card">
            <a
              href="https://drive.google.com/file/d/16RMzk2dEPnCPq3QgahDcuaplJJWFrhsc/view"
              id="srcNotes"
              >Notes</a
            >
            <a
              href="https://youtu.be/POJKDEMu9ak?si=qxa8Kv6nf5A-zgNd"
              id="srcVideos"
              >Videos</a
            >
            <a href="{% url 'adaptivelearning' chapter='rat' %}" id="srcTest">Practice Test</a>
          </div>
        </div>
        <div class="subtopic">
          <h3>Equations having the Variable on both Sides</h3>
          <div class="card">
            <a
              href="https://drive.google.com/file/d/14SXrBC1dsn5a2hkcaT_8O7z0_ccAkDP0/view"
              id="srcNotes"
              >Notes</a
            >
            <a
              href="https://www.youtube.com/watch?v=25EloVxxm2U&feature=youtu.be"
              id="srcVideos"
              >Videos</a
            >
            <a href="{% url 'adaptivelearning' chapter='rat' %}" id="srcTest">Practice Test</a>
          </div>
        </div>
        <div class="subtopic">
          <h3>Reducing Equations to Simpler Form</h3>
          <div class="card">
            <a
              href="https://drive.google.com/file/d/1gt01LrY5WQsUAsrCiVqNodmOEm-a4WLg/view"
              id="srcNotes"
              >Notes</a
            >
            <a href="https://www.youtube.com/watch?v=_1Z5OI8CAJo" id="srcVideos"
              >Videos</a
            >
            <a href="{% url 'adaptivelearning' chapter='rat' %}" id="srcTest">Practice Test</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
