<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="scripts.js"></script>
    <link rel="stylesheet" href="style1.css" />
    <title>Rational Numbers</title>
  </head>
  <body onload="linkVal()">
    <div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <div class="page" style="color: white">
      <h1>Rational Numbers</h1>
      <div class="container">
        <div class="subtopic">
          <h4>subtopic1</h4>
          <div class="card">
            <a
              href="https://drive.google.com/file/d/1nzwOB-QqTEXl_JQHCFy33k9JYjMto2vW/view"
              id="srcNotes"
              >Notes</a
            >
            <a
              href="https://www.youtube.com/watch?v=SQ4cB9yXkHM&pp=ygUXcmF0aW9uYWwgbnVtYmVycyB2aWRlb3M%3D"
              id="srcVideos"
              >Videos</a
            >
            <a href="" id="srcTest">Practice Test</a>
          </div>
        </div>
        <div class="subtopic">
          <h4>subtopic2</h4>
          <div class="card">
            <a href="" id="srcNotes">Notes</a>
            <a href="" id="srcVideos">Videos</a>
            <a href="" id="srcTest">Practice Test</a>
          </div>
        </div>
        <div class="subtopic">
          <h4>subtopic3</h4>
          <div class="card">
            <a href="" id="srcNotes">Notes</a>
            <a href="" id="srcVideos">Videos</a>
            <a href="" id="srcTest">Practice Test</a>
          </div>
        </div>
        <div class="subtopic">
          <h4>subtopic4</h4>
          <div class="card">
            <a href="" id="srcNotes">Notes</a>
            <a href="" id="srcVideos">Videos</a>
            <a href="" id="srcTest">Practice Test</a>
          </div>
        </div>
        <div class="subtopic">
          <h4>subtopic5</h4>
          <div class="card">
            <a href="" id="srcNotes">Notes</a>
            <a href="" id="srcVideos">Videos</a>
            <a href="" id="srcTest">Practice Test</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
