{%include "header.html" %}
  <link rel="stylesheet" href="/static/styles/mathstyle1.css" />
  <body onload="linkVal()">
    <div>
      <div class="wave"></div>
      <div class="wave"></div>
      <div class="wave"></div>
    </div>
    <div class="page">
      <h1 style="color:white">Force and Pressure</h1>
      <div class="container">
        <div class="subtopic">
          <h3>Force – A Push or a Pull</h3>
          <div class="card">
            <a
              href="https://drive.google.com/file/d/1nzwOB-QqTEXl_JQHCFy33k9JYjMto2vW/view"
              id="srcNotes"
              >Notes</a
            >
            <a
              href="https://www.youtube.com/watch?v=SQ4cB9yXkHM&pp=ygUXcmF0aW9uYWwgbnVtYmVycyB2aWRlb3M%3D"
              id="srcVideos"
              >Videos</a
            >
            <a href="{% url 'sciencetest' chapter='fp' %}" id="srcTest">Assessment</a>
          </div>
        </div>
        <div class="subtopic">
          <h3> Forces are due to an Interaction</h3>
          <div class="card">
            <a
              href="https://drive.google.com/file/d/1aNw4bQsf1pFaUMJDpbmkFd0BIbtXxxc4/view"
              id="srcNotes"
              >Notes</a
            >
            <a href="https://www.youtube.com/watch?v=036dRncE3J8" id="srcVideos"
              >Videos</a
            >
            <a href="{% url 'sciencetest' chapter='fp' %}" id="srcTest">Assessment</a>
          </div>
        </div>
        <div class="subtopic">
          <h3>Exploring Forces</h3>
          <div class="card">
            <a
              href="https://drive.google.com/file/d/1nzwOB-QqTEXl_JQHCFy33k9JYjMto2vW/view"
              id="srcNotes"
              >Notes</a
            >
            <a
              href="https://youtu.be/9g3iUxauTDc?si=WAp65K7QRmPan6lJ"
              id="srcVideos"
              >Videos</a
            >
            <a href="{% url 'sciencetest' chapter='fp' %}" id="srcTest">Assessment</a>
          </div>
        </div>
        <div class="subtopic">
          <h3>A Force can Change the State of Motion</h3>
          <div class="card">
            <a
              href="https://drive.google.com/file/d/1nzwOB-QqTEXl_JQHCFy33k9JYjMto2vW/view"
              id="srcNotes"
              >Notes</a
            >
            <a
              href="https://youtu.be/UU3eYPOn6Zc?si=qz55GL8wKD-SjzbK"
              id="srcVideos"
              >Videos</a
            >
            <a href="{% url 'sciencetest' chapter='fp' %}" id="srcTest">Assessment</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
